.loan-form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  min-width: 325px;
  margin: 2rem 1rem;
}

.loan-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  width: 100%;
    color: #333;
}

.form-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

.bank-name {
  display: flex;
  align-items: center;
}

.bank-icon {
  margin: 0 1rem;
  font-size: 1.8em;
}

.loan-form h1 {
  margin: 0;
  text-align: center;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="number"],
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 16px;
}

.form-group textarea {
  min-height: 80px;
  color: #555;
  font-size: 0.8rem;
}

.form-group input[type="checkbox"] {
  margin-right: 5px;
}

.error {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

.warning {
  color: orange;
  font-size: 0.9em;
  margin-top: 5px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: 100%; /* Gör knappen bred */
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Modal Styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: white;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal p {
  margin-bottom: 1rem;
}

.modal button {
  background-color: #28a745;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 10px;
}

.modal button:hover {
  background-color: #1e7e34;
}


/* Responsiv for medium and small screens */
@media (max-width: 768px) {
  .loan-form {
    padding: 20px;
    margin: 10px;
  }
}
