* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, #fa6115 0%, #ff5500 33.33%, #e64d00  66.66%);
  font-family: Arial, Helvetica, sans-serif;
}
